/**** Todo list starts here ****/
 /* #todoul{
    padding-left: 0px;
} */
#image {
    background-color: rgb(54, 6, 6);
    /* margin-left: 120px; */
}
#mytodo{
    padding: 20px 0px 20px 0px;
    color: rgb(228, 17, 17);
}
#input{
    border-radius: 5px;
    border-color: rgb(231, 75, 75);
    padding: 8px;
}
ul{
    padding-left: 0px;
}
  
  li{
    list-style-type: none;
    background-color:#eee;
    border: 1px dashed rgb(231, 75, 75);
    padding: 10px 0px 10px 5px;
  } 
 
.done{
    background-color: green;
    border-style: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin-right: 5px;
}
.remove{
    background-color: red;
    border-style: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin-right: 5px;
}
#importantbutton{
    background-color: rgb(86, 201, 240);
    /* padding: 5px 15px 5px 15px; */
    border-style: none;
    border-radius: 2px;
    padding: 7px 13px 5px;
    margin-right: 5px;
}

li.finished{
 color: white;
 background-color: gray;
 text-decoration: line-through;
}

li.important{
    background-color: rgb(241, 58, 58);
    color: white;
}

#donebutton input[type="text"]{
    font-size: 18px;
    width: 94%;
    padding: 20px;
}

#donebutton input[type="button"]{
    font-size: 1.2em;
    margin: -6px 4px 0px 0px;   
    
}

#addButton{
    padding: 10px;
    /* margin-left: 125px; */
    background-color: rgb(238, 103, 103); 
    border-style: none;
    border-radius: 5px;
    color: rgb(216, 238, 241)
}

.aboutcolor{
 background-color: rgb(230, 126, 126);
 margin-top: 5px;
}



/**** Todo list stops here ****/